<!DOCTYPE html>
<html lang=""en>
  <head>
    <meta charset="utf-8."/>
    <metaname="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
      />
    <style>
      td, th, h4{
        text-align: center;
      }
    </style>
      <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <!-- Main table for urls links 🔽🔽🔽🔽-->
      <% if (userObj) { %>
        <table class="table table-info">
          <thead>
            <tr>
              <th scope="col">Short URL ID</th>
              <th scope="col">Long URL</th>
              <th class = "div1" scope="col">EDIT</th>
              <th class = "div1" scope="col">DELETE</th>
            </tr>
          </thead>
          <tbody>
            <% for (let id in urls) { %>
              <tr>
              <% if (urls[id].userID === userObj.id){ %>
                <td><%= id %></td>
                <td><%= urls[id].longURL %></td>
                <td>
                    <form action= "/urls/<%= id %>">
                      <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td>
                  <form method="POST" action= "/urls/<%= id %>/delete?_method=DELETE">
                    <button type="submit" class="btn btn-danger" formmethod="POST">Delete</button>
                  </form>
                </td>
                <% } %>
              </tr>
            <% } %>
            <a href = '/urls/new'>Make new shortened link!</a>
          </tbody>
        </table>
        <!-- Main table for urls links 🔼🔼🔼🔼-->
        <!-- alternative message when not logged on  🔽🔽🔽🔽-->
      <% } else { %>
        <h4>You are not Logged In. Please <a href="/login">Login</a> or <a href="/register">Register</a> to Create Links!!</h4>
      <% } %>
    </main>
    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>
</html>